{% extends "index.html" %}


{% block main %}
<section class="single-wrap">
  <article class="single-content" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="feat">
      
    </div>
    <h1 class="page-title" itemprop="name headline">{{ page.title }}</h1>
    <div itemprop="articleBody">
      {{ page.content | safe }}
      <div class="taxonomy">
    {% set blogs = get_section(path="blogs/_index.md") %}
    {% for year, posts in blogs.pages | group_by(attribute="year") %}
        <h2>{{ year }}</h2>

        {% for post in posts %}
        <div class="taxonomy-item">
            <span class="taxonomy-item-time">
                {{ post.date | date(format="%d/%m/%Y") }} --
            </span>
            <span class="taxonomy-item-title">
                <a href="{{ post.permalink }}">{{ post.title }}</a>
            </span>
        </div>
        {% endfor %}

    {% endfor %}
    </div>
    </div>
    <div class="feat share">
      <a href="https://twitter.com/intent/tweet?url={{ current_url }}" class="popup">
      <span class="icon-twitter"></span>
      </a>
    </div>
    <div id="disqus_thread"></div>
    {% if page.later %}
    <a rel="next" href="{{ page.later.permalink }}" id="next">
      <span class="nav-title nav-title-next">Próximo</span> &rarr;
    </a>
    {% endif %}
    {% if page.earlier %}
    <a rel="prev" href="{{ page.earlier.permalink }}" id="prev">
       &larr;<span class="nav-title nav-title-prev">Anterior</span>
    </a>
    {% endif %}
  </article>
</section>
{% endblock main %}